{% extends 'base.html' %} {% block title %}Book Catalog {% endblock title %} {%
block main_content %} {% load static %}
<link
  rel="stylesheet"
  href="https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css"
/>
<div class="min-h-screen flex flex-row bg-gray-100">
  <div class="flex flex-col w-56 bg-white overflow-hidden">
    <div class="flex items-center justify-center h-20 shadow-md">
      <img
        src="{% static 'images/shap-logo.png' %}"
        class="text-3xl w-16 h-16 uppercase text-indigo-500"
      />
    </div>
    <ul class="flex flex-col py-4">
      <li>
        <a
          href="#"
          class="
            flex flex-row
            items-center
            h-12
            transform
            hover:translate-x-2
            transition-transform
            ease-in
            duration-200
            text-gray-500
            hover:text-gray-800
          "
        >
          <span
            class="
              inline-flex
              items-center
              justify-center
              h-12
              w-12
              text-lg text-gray-400
            "
            ><i class="bx bx-book"></i
          ></span>
          <span class="text-sm font-medium">Book Catalog</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="
            flex flex-row
            items-center
            h-12
            transform
            hover:translate-x-2
            transition-transform
            ease-in
            duration-200
            text-gray-500
            hover:text-gray-800
          "
        >
          <span
            class="
              inline-flex
              items-center
              justify-center
              h-12
              w-12
              text-lg text-gray-400
            "
            ><i class="bx bx-laptop"></i
          ></span>
          <span class="text-sm font-medium">OPAC</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="
            flex flex-row
            items-center
            h-12
            transform
            hover:translate-x-2
            transition-transform
            ease-in
            duration-200
            text-gray-500
            hover:text-gray-800
          "
        >
          <span
            class="
              inline-flex
              items-center
              justify-center
              h-12
              w-12
              text-lg text-gray-400
            "
            ><i class="bx bx-list-plus"></i
          ></span>
          <span class="text-sm font-medium">ACCESSION LIST</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="
            flex flex-row
            items-center
            h-12
            transform
            hover:translate-x-2
            transition-transform
            ease-in
            duration-200
            text-gray-500
            hover:text-gray-800
          "
        >
          <span
            class="
              inline-flex
              items-center
              justify-center
              h-12
              w-12
              text-lg text-gray-400
            "
            ><i class="bx bx-news"></i
          ></span>
          <span class="text-sm font-medium">Periodicals</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="
            flex flex-row
            items-center
            h-12
            transform
            hover:translate-x-2
            transition-transform
            ease-in
            duration-200
            text-gray-500
            hover:text-gray-800
          "
        >
          <span
            class="
              inline-flex
              items-center
              justify-center
              h-12
              w-12
              text-lg text-gray-400
            "
            ><i class="bx bx-cylinder"></i
          ></span>
          <span class="text-sm font-medium">Inventory</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="
            flex flex-row
            items-center
            h-12
            transform
            hover:translate-x-2
            transition-transform
            ease-in
            duration-200
            text-gray-500
            hover:text-gray-800
          "
        >
          <span
            class="
              inline-flex
              items-center
              justify-center
              h-12
              w-12
              text-lg text-gray-400
            "
            ><i class="bx bx-image"></i
          ></span>
          <span class="text-sm font-medium">Serials</span>
        </a>
      </li>
      <li>
        <a
          href="#"
          class="
            flex flex-row
            items-center
            h-12
            transform
            hover:translate-x-2
            transition-transform
            ease-in
            duration-200
            text-gray-500
            hover:text-gray-800
          "
        >
          <span
            class="
              inline-flex
              items-center
              justify-center
              h-12
              w-12
              text-lg text-gray-400
            "
            ><i class="bx bx-bell"></i
          ></span>
          <span class="text-sm font-medium">Electronics</span>
          <!-- <span class="ml-auto mr-6 text-sm bg-red-100 rounded-full px-3 py-px text-red-500">5</span> -->
        </a>
      </li>
      <li>
        <a
          href="#"
          class="
            flex flex-row
            items-center
            h-12
            transform
            hover:translate-x-2
            transition-transform
            ease-in
            duration-200
            text-gray-500
            hover:text-gray-800
          "
        >
          <span
            class="
              inline-flex
              items-center
              justify-center
              h-12
              w-12
              text-lg text-gray-400
            "
            ><i class="bx bx-log-out"></i
          ></span>
          <span class="text-sm font-medium">Logout</span>
        </a>
      </li>
    </ul>
  </div>
  <!-- Content -->
  <h1 class="w-64 position absolute top-0 right-52">Book Catalog</h1>
  <div class="w-full m-32 grid grid-cols-3 gap-4">
    <a
      href="{% url 'catalogs:create-book' %}"
      class="
        text-center
        flex
        items-center
        justify-center
        bg-green-800
        hover:bg-green-700
        text-lg
        font-bold
        rounded-md
        shadow-md
        text-white
      "
    >
      <h1 class="text-bold text-2xl">CREATE A NEW BOOK</h1>
    </a>
    <a
      href="{% url 'catalogs:create-book' %}"
      class="
        text-center
        flex
        items-center
        justify-center
        bg-green-800
        hover:bg-green-700
        text-lg
        font-bold
        rounded-md
        shadow-md
        text-white
      "
    >
      <h1 class="text-bold text-2xl">VIEW ALL BOOKS</h1>
    </a>
    <a
      href="{% url 'catalogs:create-book' %}"
      class="
        text-center
        flex
        items-center
        justify-center
        bg-green-800
        hover:bg-green-700
        text-lg
        font-bold
        rounded-md
        shadow-md
        text-white
      "
    >
      <h1 class="text-bold text-2xl">BROWSE PER CATEGORY</h1>
    </a>

    <a
      href="{% url 'catalogs:create-book' %}"
      class="
        text-center
        flex
        items-center
        justify-center
        bg-green-800
        hover:bg-green-700
        text-lg
        font-bold
        rounded-md
        shadow-md
        text-white
      "
    >
      <h1 class="text-bold text-2xl">VIEW A CERTAIN BOOK BOOK</h1>
    </a>
  </div>
</div>
{% endblock main_content %}
